<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Узнай расписание раньше всех</title>

    <script src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}bootstrap/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/custom.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries --><!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
            {% if user.is_authenticated %}
                <li class="active"><a href="#">{{ user.email }}</a></li>
                <li><a href="/logout/">Выйти</a></li>
            {% else %}
                <li><a href="/login/">Вход</a></li>
                <li><a href="/register/">Регистрация</a></li>
            {% endif %}

        </ul>
        <h3 class="text-muted"><a href="/">Расписание занятий</a></h3>
      </div>

            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                {{ message }}
                </div>
            {% endfor %}

      {% block content %}

      {% endblock %}

      <div class="footer">
        <p>Запорожье 2013</p>
      </div>

    </div> <!-- /container -->

  </body>
</html>

