{% extends "base.html" %}


{% block content %}

  <div class="jumbotron">
    <h1>Будь в курсе!</h1>
    <p class="lead">
        Узнай расписание занятий раньше всех! Мы проверяем, не обновил ли учебный отдел файл с расписанием
        занятий на сайте <a href="http://econom.zp.ua">ЗИЭИТ</a> и вышлем тебе сообщение сразу, как будет выложена новая версия.
    </p>
    <p><a class="btn btn-lg btn-success" href="/register/" role="button">Подписаться на уведомления</a></p>
  </div>

{% endblock %}